<div *ngIf="is404">
    <h1>Мы сделали все что могли, но данных нет</h1>
</div>
<div *ngIf="model">
    <md-tab-group>
        <md-tab label="Профиль">
            <div class="child-form">
                <form name="form" (ngSubmit)="f.form.valid && save()" #f="ngForm" novalidate>
                    <h3 *ngIf="!readOnly">Изменение данных профиля</h3>
                    <div>
                        <md-input-container class="default-input-field">
                            <input mdInput placeholder="Имя" name="firstName" [disabled]="readOnly" [(ngModel)]="model.firstName" #firstName="ngModel"
                                required>
                        </md-input-container>
                    </div>
                    <div>
                        <md-input-container class="default-input-field">
                            <input mdInput placeholder="Фамилия" name="lastName" [disabled]="readOnly" [(ngModel)]="model.lastName" #lastName="ngModel"
                                required>
                        </md-input-container>
                    </div>
                    <div>
                        <md-input-container class="default-input-field">
                            <input mdInput type="email" placeholder="e-mail" name="email" [disabled]="readOnly" [(ngModel)]="model.email" #email="ngModel"
                                required>
                        </md-input-container>
                    </div>
                    <div>
                        <md-input-container class="default-input-field">
                            <input mdInput [minlength]="config.usernameMinLength" placeholder="Логин" name="username" [disabled]="readOnly" [(ngModel)]="model.username"
                                #username="ngModel" required>
                            <av-hint [value]="username.value" [minlength]="config.usernameMinLength"></av-hint> 
                        </md-input-container>
                    </div>
                    <div *ngIf="isAdmin">
                        <md-slide-toggle name="admin" color="warn" [(ngModel)]="model.admin">
                            Права администратора
                        </md-slide-toggle>
                    </div>
                    <div *ngIf="isAdmin">
                        <md-slide-toggle name="haveAccess" color="warn" [(ngModel)]="model.haveAccess">
                            Разрешен доступ
                        </md-slide-toggle>
                    </div>
                    <div *ngIf="!readOnly" class="form-group">
                        <button type="submit" md-fab [disabled]="loading"><md-icon>check</md-icon></button>
                        <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="
                        />
                        <button type="button" md-fab [disabled]="loading" (click)="goBack()"><md-icon>close</md-icon></button>
                    </div>
                </form>
            </div>
        </md-tab>
        <md-tab *ngIf="!readOnly" label="Смена пароля">
            <div class="child-form">
                <form name="formPasswordChange" (ngSubmit)="formPasswordChange.form.valid? savePassword() : return;" #formPasswordChange="ngForm"
                    novalidate>
                    <h3>Введите пароль</h3>
                    <md-input-container *ngIf="isCurrentUserProfile" class="default-input-field">
                        <input mdInput type="password" name="oldPassword" [minlength]="config.passwordMinLength" placeholder="Старый пароль" [(ngModel)]="passwordData.oldPassword"
                            #oldPassword required>
                        <av-hint [value]="oldPassword.value" [minlength]="config.passwordMinLength"></av-hint> 
                    </md-input-container>
                    <md-input-container class="default-input-field">
                        <input mdInput type="password" name="password" [minlength]="config.passwordMinLength" placeholder="Новый пароль" [(ngModel)]="passwordData.password"
                            #password required>
                        <av-hint [value]="password.value" [minlength]="config.passwordMinLength"></av-hint> 
                    </md-input-container>
                    <md-input-container class="default-input-field">
                        <input mdInput type="password" name="confirmPassword" [minlength]="config.passwordMinLength" placeholder="Повторить новый пароль"
                            [(ngModel)]="passwordData.confirmPassword" #confirmPassword required>
                        <av-hint [value]="confirmPassword.value" [minlength]="config.passwordMinLength"></av-hint> 
                    </md-input-container>
                    <button md-fab type="submit" [disabled]="loadingP"><md-icon>check</md-icon></button>
                    <img *ngIf="loadingP" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="
                    />
                </form>
            </div>
        </md-tab>
    </md-tab-group>
</div>