<md-sidenav-container class="app-root" fullscreen>
  <md-sidenav #start>
    <md-nav-list>
      <a md-icon-button (click)="start.close()">
        <md-icon class="md-24">close</md-icon> 
      </a>
      <hr>
      <a *ngFor="let navItem of navItemsMain"
         md-list-item
         (click)="start.close()"
         routerLinkActive
         #routerLinkActiveInstance="routerLinkActive"
         [attr.tabindex]="routerLinkActiveInstance.isActive ? 0 : -1"
         [routerLink]="[navItem.route]">
        {{navItem.name}}
      </a>
      <hr>     
      <a *ngFor="let navItem of navItemsAuth"
         md-list-item
         (click)="start.close()"
         routerLinkActive
         #routerLinkActiveInstance="routerLinkActive"
         [attr.tabindex]="routerLinkActiveInstance.isActive ? 0 : -1"
         [routerLink]="[navItem.route]">
        {{navItem.name}}
      </a>
      
    </md-nav-list>
  </md-sidenav>
  <div>
    <md-toolbar color="primary">
      <button md-icon-button (click)="start.open()">
        <md-icon class="md-24">menu</md-icon>
      </button>
      <h1>Bounty Hunter corner</h1>
      <span class="toolbar-spacer"></span>
      <a *ngIf="loggedIn" md-button [routerLink]="['/profile']">{{currentUserName}}</a>
      <a md-button [routerLink]="['/login']">{{loggedIn?'Выйти':'Войти'}}</a>
      <!-- <a *ngIf="!loggedIn" md-button [routerLink]="['/register']">Регистрация</a> -->
    </md-toolbar>
    <router-outlet></router-outlet>
  </div>
</md-sidenav-container>


