<div class="child-form">
  <h3>
    Пользователи
    <!-- <button md-raised-button [disabled]="loading" (click)="createUsers()">Создать пользователей</button> -->
    <button md-mini-fab (click)="edit(selected)"><md-icon class="md-24">edit</md-icon></button>
    <!-- <button md-mini-fab (click)="delete(selected)"><md-icon class="md-24">delete</md-icon></button>   -->
  </h3>
  <ngx-datatable class="material server-scrolling-table" [rows]="users" [columnMode]="'force'" [headerHeight]="headerHeight"
    [rowHeight]="rowHeight" [loadingIndicator]="isLoading" [scrollbarV]="true" [selected]="selected" [selectionType]="'single'"
    (scroll)="onScroll($event.offsetY)" (sort)="onSort($event)">
    >
    <ngx-datatable-column *ngFor="let column of columns" [name]="column.name" [prop]="column.prop">
      <ng-template *ngIf="column.bool" let-value="value" ngx-datatable-cell-template>
        <input type="checkbox" [checked]="value" disabled>
      </ng-template>
    </ngx-datatable-column>
  </ngx-datatable>
</div>