/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

/*ngx-datatable*/
@import '~@swimlane/ngx-datatable/release/index.css';
@import '~@swimlane/ngx-datatable/release/themes/material.css';
@import '~@swimlane/ngx-datatable/release/assets/icons.css';


.child-form {
    margin: 0.5% 0.5%;
    /* width: 100%;
    margin: 20px 20px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center; 
    overflow: auto;    */
}

.default-input-field {
  width: 100%;
}

.toolbar-spacer {
  flex: 1 1 auto;
}

.error-message {
  background-color: #FF6633 !important;
  /* background-color: #f44336 !important; */
}


